on: [push, pull_request]
name: Test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.26.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v6
      - run: sudo apt-get update
      - run: sudo apt-get install bind9-utils -y
      - run: go build ./cmd/verbena/
      - run: go test ./...
